[2020-09-24 08:15] henriquesposito opened #9 "Add lingua () function"
For translating text to English.

[2020-09-25 13:46] jhollway opened #10 "Add version update to workflow"
Problem: at the moment, the `pushrelease.yml `workflow, upon merging a PR, picks up the last tag released, increments it, and then attaches built versions of the package to this tag/release. The problem is, the `pushrelease.yml` workflow only increments the tag, not the `DESCRIPTION` file; we need to manually increment the package's actual `DESCRIPTION` file ourselves. This is not only tiresome, b

[2021-02-04 11:43] EstherPeev opened #15 "Naming variables across q packages in a standardized way"

[2021-02-08 16:24] henriquesposito opened #13 "Testing `export_data()` and `import_data()` functions"
Currently these functions are not being tested. The idea was to create a temporary environment to test them and them erase it afterwards. This would be done with the `create_local_package()` function (commented out in their test scripts), but it is not currently working.

[2021-02-08 18:13] henriquesposito opened #12 "Decide on what kinds of objects can be contained in qData packages"
Decide on what kinds of objects can be contained in qData packages (actors, agreements, relations, etc). This also means we can create specific test templates for these databases as they are added.

[2021-02-15 10:04] jhollway opened #7 "Lost connection to original coding/variable names"
- Option 1: Add original variable names as attributes to each dataset's variables? https://stackoverflow.com/questions/34817457/convenient-way-to-access-variables-label-after-importing-stata-data-with-haven

[2021-02-22 15:16] henriquesposito opened #6 "Create an `update_packages()` function that updates qPackages"
Whenever qData changes templates, file structure or tests, qPackage contributors have to re-run `setup_package()` to update for these. Though, this is risk and can cause some files and/or changes to be lost. Create an `update_packages()` function that updates for changes in qPackages without  having to re-run `setup_packages()`.

[2021-02-26 10:41] henriquesposito opened #8 "Research best way to store data for codes for agreements function"
Some options are creating a new GitHub repo or a sql file. The requirements are that it writes and reads in the new `code_agreements()` function as well as that it allows for manual overwriting.

[2021-04-10 16:53] jhollway opened #5 "Standardise dates"

[2021-04-21 16:07] henriquesposito opened #4 "Treaty titles in other languages than English"
Some agreement titles in other languages cause an issue for code_agreements() to identify duplicate agreements or linkage between agreements. This feature ideally should be added to standardise_titles(), so that the function returns all titles in English. Google translate can be one way of doing so.

[2021-05-19 08:04] henriquesposito opened #3 "Add code_topic() function to code_agreements()"
Add a more detailed code for topics with further explanations about the topics and where their codes come from an why. This should be done in an external file. Currently we are not using topic on code_agreements()

The code_area() function needs also to be re-added as we develop code_lineage() function and plots.

[2021-05-19 08:12] henriquesposito opened #11 "Look into how covdata package updates data"
We should look into how the covdata package performs updates for COVID19 data as one source of ideas for how our data packages can be update.

[2021-05-19 08:18] jhollway opened #14 "Connect functions"

[2021-05-19 08:41] jhollway opened #16 "Connect codebooks/coding rules to datasets/variables"

[2021-05-19 08:44] jhollway opened #17 "Standardise treaty text language"

[2021-05-19 08:50] jhollway opened #18 "OCR treaty pdfs"
Consider image binarization for removing grayscale elements from scanned text for improved optical character recognition.

How does quanteda do this?

[2021-05-19 09:17] jhollway opened #19 "Draw on news reports for more info"
Kalman filter for integrating new data with old?

[2021-05-19 09:17] jhollway opened #20 "Integrate news reports with existing data"
Kalman filter?

[2021-05-19 09:18] henriquesposito commented on #5
The new version of standardise_dates() and the respective tests has been moved to the new standradise_dates branch in qCreate. The new version returns character ranges for incomplete/uncertain dates. This is to be used in pair with the resolve_dates() function developed for qData (in collapse feature branch).

[2021-05-19 09:20] henriquesposito commented on #13
This is not anymore a big issue since we split the packages in two. However, this will still be addressed as testing is still important for qCreate.

[2021-05-19 10:10] henriquesposito opened #21 "Add plot_lineages() and plot_linkages() functions"
plot_lineages() will take code_topic() and code_area() to plot agreements of a certain topic in a map.

plot_linkages() will plot linkages of a certain agreement (it's development) across time in a timeline.

For now I am opening this issue on qCreate, but these functions could be offered in qData.

[2021-05-19 13:14] jhollway commented on #21
See snlab-ch/migraph#92

[2021-05-19 13:14] #21 closed

[2021-05-19 15:34] EstherPeev opened #22 "Improve code_agreements() function"
1) Around 15% of the qID generated by `code_agreements()` in IEADB are duplicates when there are actually different treaty. See examples below

[https://app.zenhub.com/files/365543800/c76d63e5-71c5-4dbb-98d9-9528b1b42fd0/download](https://app.zenhub.com/files/365543800/c76d63e5-71c5-4dbb-98d9-9528b1b42fd0/download)

2) `code_linkage()` function does not link properly to the "mother" treaty: the fu

[2021-05-19 15:40] jhollway opened #23 "Develop code_agreements to differently weight various identifying information"

[2021-05-19 15:51] jhollway commented on #22
@EstherPeev can you please add each of these (also) as separate issues? That would help tracking progress etc

[2021-05-19 16:02] EstherPeev opened #24 "Decrease the number of false duplicates generated by code_agreements()"
`code agreements()` sometimes returns different treaties as duplicates. See the example below:

[https://app.zenhub.com/files/365543800/7193aa26-cf12-4d28-afd7-1e1abbeae477/download](https://app.zenhub.com/files/365543800/7193aa26-cf12-4d28-afd7-1e1abbeae477/download)

[2021-05-19 16:18] EstherPeev opened #25 "Find a better solution when code_linkage() can not identify the "mother" treaty"
In many cases, `code_linkages()` can't find the "mother" treaty in the dataset, so it is linking the amendment/protocol to another protocol/amendment. It is either because the "mother" treaty is not in the dataset or that the title is too different for the function to recognize them as part of the same family.

 [https://app.zenhub.com/files/365543800/54ed124a-8a1d-42cf-b9f6-23a19930f33f/download]

[2021-05-19 16:28] EstherPeev opened #26 "Improve code_type() for better recognizing different type of treaty (exchange of notes, protocol, etc)"

[2021-05-19 16:38] henriquesposito commented on #25
Good catch!

I think we can deal with this by by removing returns from for the line value that are not agreements (keep only type A, bilateral treaties or known agreements) in code_linkages().

I will take a look at this issue, thank you!

[2021-05-19 16:41] henriquesposito commented on #24
Thank you for the attaching the summary document, I will think of ways to get at some of the differences overseen.

[2021-05-19 17:11] EstherPeev opened #27 "Improve how code_agreements() detect the number referring to amendment/protocol/annex"
The numbers are not the correct ones in those examples:
![image.png](https://images.zenhubusercontent.com/5ff2de14fb5a58fc49c60af6/c6dd0713-59b0-414a-8c75-7f0923e23724)

[2021-05-21 08:56] henriquesposito commented on #26
Also some of the types we have currently are rarely present in most of the datasets. Do you think we really need all the other types or could we just have other (O) for titles that are not amendments, protocol or agreements?

[2021-05-21 09:20] EstherPeev commented on #26
What I have seen is that all the other types (so other than Agreement, Protocol and Amendment) are rarely present in dataset. Only 7 out of 3666 in IEADB, but around 85 out of 2733 in GNEVAR.

I think we can put others than A, P, E under O = Other.

[2021-05-21 09:55] henriquesposito commented on #25
I have removed returns that are amendments or protocols from code_linkages(), this should take care of the issue of linking the amendment/protocol to another protocol/amendment.

As for improving mother treaty identification, I have updated the predictable words list to include some of the misses illustrated. We will need to update this list and add new tests for code_agreements() when we notice t

[2021-05-21 10:14] EstherPeev commented on #24
To help thinking of the best solution to differentiate the treaties, I have added some examples of false duplicates generated by `code_agreements()` in the list below:

[https://app.zenhub.com/files/365543800/983d8786-b7ed-41ca-b0df-d1e2dd0e57d0/download](https://app.zenhub.com/files/365543800/983d8786-b7ed-41ca-b0df-d1e2dd0e57d0/download)

[2021-05-21 12:37] henriquesposito commented on #26
I think that is a good suggestion!

@jhollway What do you think about coding agreement types different than agreements, protocols and amendments as others (O)? Thank you.

[2021-05-21 12:40] henriquesposito commented on #24
Thank you for all the helpful examples @EstherPeev ! I added a code_issues() helper function to help with disambiguating date duplicates. The data list and abbreviations for issues need to be expanded as you will see, but it is one way of dealing with this bug in a more systematic fashion.

[2021-05-21 15:11] jhollway commented on #26
We can discuss this next meeting, but let's be clear about the coding alternatives:
1) subsume them into e.g. Agreements. This could be useful if we still want to incorporate them into lineages.
2) mark them as NA. This could be useful if we don't want to dilute or bias category codings, but also don't want a catch-all Other/Miscellaneous category

[2021-05-26 11:53] henriquesposito commented on #3
I think that the code_topic() function in gnevar might be too specific for what I would personally think of a topic in IR or of an agreement. For example, I would think of IR topics as war/conflict, environment, trade, health or human rights. While what we currently have in gnevar resemble more a combination of issue-domain to me.

Both approaches might be helpful depending on the level we are int

[2021-05-26 12:23] EstherPeev commented on #3
Yes, I think it could be more useful to have qIDs differentiating the treaties precisely instead of broad topics like you mentioned, at least for now. It will allow to add meaningful information as the topic otherwise would be environment for all of them.

It means that we could create another function like `code_issue()`, and develop the list of issues we find in environmental treaties. We can al

[2021-05-26 12:41] henriquesposito commented on #8
As of now, we have several data lists included in qCreate. I assume that these will be the templates for storing online data for code_agreements(). I believe that either a SQL database or GitHub repo/package would work for these purposes. Although there could be costs associated with having more than one or a large SQL database online.

The challenge I see, and I am yet to propose a solution, is g

[2021-05-26 13:28] EstherPeev commented on #24
The new helper function, renamed `code_action()` allowed to drastically reduce the number of false duplicates (from 280 to 54).
However, it is also generating around 50 qIDs as NAs. I am working on that, but if you have any ideas of where it comes from, @henriquesposito, please let me know.

[2021-05-26 13:30] henriquesposito commented on #3
We need to define issue then, what is an issue?

What I am thinking is a combination of issue and subject for topic maybe. Whereas issue implies a subdivision of a subject. The two could be included in a three letter abbreviation (one letter for subject and two for issue).

For subject we include broader IR concern areas as security, environment, trade, human rights and health. Within these we may

[2021-05-26 13:34] henriquesposito commented on #24
@EstherPeev Yes, I left NAs as returns when code_actons() found duplicates but not matched words for actions. This is to facilitate identification of which agreements are viewed as duplicates but we have not been able to find actions for.

[2021-05-28 15:04] henriquesposito commented on #26
Type categories have been changed. Now N stands for notes and minutes (discriptive). S stands for memorandum and strategies (future plans/intentions). R stands for resolutions and declarations (law/policies).

The function for code_types() has also been re-worked to increase accuracy in matching. Now it takes first type coded from title in order as the type of agreement.

[2021-06-07 07:23] henriquesposito commented on #8
I have created a repository called qList and added a large dataset that combines the names of environmental agreements in Gnevar, Ecolex and IEADB.

After tweaking code_agreements() to increase accuracy in finding duplicates and removing all row duplicates, there are still two main issues left. First, there are several title duplicates that have different dates across datasets and, thus, different

[2021-06-07 13:18] henriquesposito commented on #6
A first version of the function was added. It currently automatically updates some files as PR and bug report templates while asks users to indicate if license, code of conduct and contributing files should also be updated.

[2021-06-07 13:23] jhollway commented on #6
Ok, and if a user answers that they should, they are simply overwritten? And what happens with any e.g. DESCRIPTION file updates?

[2021-06-07 13:32] henriquesposito commented on #6
Yes, the files are overwritten if yes.

As for other files, as description, tests and documentation I do not know if there is a way of updating these without overwriting users' inputs. That is, all of the files where users are likely to have manually worked on remain the same, for now, while other files as PR templates are overwritten (along with License and COC if users choose to do so).

[2021-06-07 13:51] jhollway commented on #6
Tests will update automatically any time contributors re-`export_data()`. Documentation they will probably have to manage themselves for now. But maybe the `{DESC}` package (or our own `add_author()`) offer some suggestions about how to manage this?

[2021-06-07 15:02] henriquesposito commented on #6
Yes, indeed there might be ways in which certain sections of the description file can be updated looking at the `DESC` package and our add_author() function. The challenge here is to know what should be updated and not. I will look into this and try to keep author's names and information while updating the bottom half (dependencies, suggestions and so on) of the description file if author's choose

[2021-06-08 14:59] jhollway opened #28 "Create cheatsheet"
https://www.rstudio.com/resources/cheatsheets/how-to-contribute-a-cheatsheet/

[2021-06-09 08:20] henriquesposito opened #29 "Incorporate code_acronym() into code_agreements()"

[2021-06-09 09:18] henriquesposito commented on #10
desc::desc_bump_version() should work here. Though, in this case, we must make sure description file has not been already updated in the PR process and that we can identify whether PR is a patch, minor or major increment.

[2021-06-09 09:20] jhollway commented on #10
There's something to be said to making this manual then, also if/once on CRAN

[2021-06-09 18:39] henriquesposito commented on #29
The code_acronym() function now removes predictable words, symbols and numbers and creates an acronym from the core title. The code_agreements() function was also altered so that the acronyms are used to identify duplicates used for linkages. Tests and documentation have been updated.

There are several pathways forward for increasing matching accuracy for duplicates based on acronym (as changing

[2021-06-10 07:05] EstherPeev commented on #28
Thanks for the feedback and suggestions @henriquesposito and @jhollway I have tried to incorporate all of them in this version of the cheat sheet:

[https://app.zenhub.com/files/365543800/a542d915-f1f0-4d03-b726-bf879bb58abf/download](https://app.zenhub.com/files/365543800/a542d915-f1f0-4d03-b726-bf879bb58abf/download)

Please let me know if I missed anything.

[2021-06-10 09:40] EstherPeev commented on #28
Here is a new version of the cheat sheet with few minor changes.

[https://app.zenhub.com/files/365543800/7268b860-c9c8-40da-a94a-82f67a9ee0a3/download](https://app.zenhub.com/files/365543800/7268b860-c9c8-40da-a94a-82f67a9ee0a3/download)

To be modified once `code_agreements()` new version with `code_acronym()` is finished.

[2021-06-10 12:31] EstherPeev opened #30 "Reduce number of false duplicates generated by new version of code_agreements()"
There are different types of false duplicates generated by `code_agreements()`. Many of them are bilateral agreements signed on the same day. Also a large part is multilateral agreements with the same acronym generated by `code_acronym()` and signature date.

Find here a list of examples of the false duplicates generated in IEADB:

[https://app.zenhub.com/files/365543800/05b35b32-fa52-4b61-8e5c-6f

[2021-06-11 14:18] EstherPeev commented on #30
Please find below a list of examples of false negatives generated by code_agreements:

[https://app.zenhub.com/files/365543800/e8786551-154a-49c7-a234-bbc7a8526c1a/download](https://app.zenhub.com/files/365543800/e8786551-154a-49c7-a234-bbc7a8526c1a/download)

As discussed with @henriquesposito, it seems that a majority of them could be solved through `standardise_titles()` (e.g. co-operation -> c

[2021-06-11 15:34] henriquesposito commented on #29
After some more tweaking with code_agreements(), I now only remove a few regular words for agreement types to avoid that all acronyms begin with the same few letters and so that most words are used to produce a unique acronym for agreement.

Duplicates are back to be identified via core words by code_linkages() and qIDs are shorter now and contain year only for dates.

[2021-06-11 15:43] henriquesposito commented on #30
Thank you @EstherPeev , both documents are incredibly helpful! I have made several changes today to increase matching accuracy for code_agreements(), most of which were guided by the first document you uploaded (on false positives).

Besides better incorporating code_acronyms() into qID, now actions are extracted for all bilateral agreements so that the issue of several bilateral treaties signed o

[2021-06-11 15:53] henriquesposito commented on #28
Great job @EstherPeev ! I like this version of the cheat sheet a lot.

The only comment I have at the moment pertains the description you have for code_agreements(), in the bottom section of the documents (functions), that is the only function for the bottom section that has a description. I wonder if we need the description? I am really just wondering here, what do you think?

[2021-06-11 15:58] EstherPeev commented on #28
Thanks for the feedback @henriquesposito !

As the other functions' utility seem a bit more intuitive, I thought adding a description for `code_agreements()` would make this clearer. But maybe we don't need it if you think the table is enough for the reader to understand what it does?

[2021-06-15 09:42] henriquesposito commented on #30
Some of the new changes with code_agreements() structure should reduce the number of false negatives already (i.e. keeping year only and assigning actions to all bilateral agreements). Some minor changes to standardise_titles() should also fix spelling inconsistencies with some common words.

@EstherPeev would you please create a new list of false negatives with the new code_agreements() structure

[2021-06-16 09:24] EstherPeev commented on #30
Here is the new list of false negatives @henriquesposito

[https://app.zenhub.com/files/365543800/f9bb54e7-5c31-4e47-9cc9-e541029db1f0/download](https://app.zenhub.com/files/365543800/f9bb54e7-5c31-4e47-9cc9-e541029db1f0/download)

It indeed allowed to reduce the number of false negatives, but there are still few things that could reduce their numbers, either from `standardise_titles()` or `code_s

[2021-06-16 10:07] henriquesposito commented on #30
Thank you so much @EstherPeev !

Now could you please try your hand at updating standardise_titles() to remove some of the non-matching patterns found?

Some of the issues in the list are important to consider, for example, adjustment and amendment might be indeed different. While others, as the addition or removal of some words or abbreviations between () might be changed in code_acronyms(), thou

[2021-06-16 11:14] EstherPeev commented on #30
Thank you @henriquesposito for the feedback. Yes, I can take charge of most of the issues related to `standardise_titles()` and `code_states()`.

For `code_acronyms()`, I think you are right, it will make more sense to have the same length for the acronym, independently of the titles' number of words. It is better to be consistent I think.
There are also few issues that I have seen in the qID acro

[2021-06-16 14:26] EstherPeev commented on #30
So I was able to take care of most of the issues presented in the last table. The only problem is when two titles that are from the same agreement have one word difference. The typical example is:

1) Convention For The Protection Of The World Cultural And Natural Heritage
2) Convention **Concerning** The Protection Of The World Cultural And Natural Heritage

In other cases, the extra word was "Ma

[2021-06-17 07:23] henriquesposito commented on #30
Thank you for the feedback @EstherPeev!

First, I will make code_acronyms() return consistently a 6 digit acronym and we can see how we few about it.

Second, before changing the dates back to 8 digits, I will change code_actions() so that the order of the actions appear in text matters, this should hopefully work to reduce number of false positives for bilateral agreements.

Third, now that we im

[2021-06-18 15:26] EstherPeev commented on #30
The new version of `code_agreements` and specially the ordering method of `code_actions()` allowed to reduce the number of false positives. Thanks for that @henriquesposito

The main types of false positives remaining are the bilateral, signed the same year, with the action "cooperation" (CR) mentioned first. In most of the cases, the treaty titles start the same way and end differently with somet

[2021-06-21 07:26] henriquesposito commented on #29
code_acronyms() was updated to consistently return 6 digit acronyms for all observations.

[2021-06-21 07:30] henriquesposito commented on #30
@EstherPeev thank you for the feedback! Good idea for code_actions(), I will update the function to assign the last action instead of the first and, then, we can re-test and see if this solves the issue of false positives for bilateral treaties.

What about false negatives, are we also doing better there? Thank you.

[2021-06-21 08:26] henriquesposito commented on #30
Once I updated code_actions() to remove last action only I realized that the issue of false duplicates is simply reversed and not solved . That is, we are assuming that the last (or second) action coded is different between observations (which is not always the case) and, in many cases, the first action is the different one between observations. I will leave the code commented out so @EstherPeev y

[2021-06-23 10:02] henriquesposito opened #31 "Return lists of words and codes used in some of the code_agreements() functions for transparency"
Some functions in code_agreements() use internal data to return coded letters or abbreviations. However, this data is not easily accessible to users who would like to know where those codes come from and what they mean.

[2021-06-23 10:07] henriquesposito commented on #31
The following functions have already been altered to do so in the latest pushes: code_actions(), code_known_agreements() and code_type(). That is, if you run these functions without an argument, the codes and words used to generate a qID are printed in console. This allows users to more easily access information they may want to know.

This will also be implemented for code_parties() and, maybe, c

[2021-06-23 13:32] EstherPeev commented on #31
I have reworked the output of `code_action()`, `code_type()`, and `code_known_agreements()` but I used different options for each of them. Could you please run the 3 of them @henriquesposito and let me know which output format you prefer? And then I can implement this option for the other functions.

As you will see, for `code_action()`, and `code_type()`, the output is displayed in the console. F

[2021-06-23 15:47] EstherPeev commented on #30
It seems indeed that adding another action or taking the last one does not really help reducing the number of false positives. I tried out these different options as well as the one you proposed @henriquesposito  which is adding the number of words in bracket in the qID. I have first deleted the predictable words from the title, and then added the number of words in the qID. It seems to improve a

[2021-06-24 09:18] henriquesposito commented on #30
Thank you @EstherPeev , this is really helpful!

I like the two solutions you propose, however, I prefer the first (number of words) for two main reasons. First, it is much faster than coding for acronyms, especially if we call code_acronyms(). Moreover, we can do all the operations with base R without importing functions from any other packages. Second, the aesthetics are preferable, in my opinio

[2021-06-24 11:12] henriquesposito commented on #31
Thank you very much @EstherPeev !

I took a look at all of them and, though, many of the printouts look great, some would add unnecessary package dependencies. However, we do have knitr as a suggested package already and I think we can indeed use it for printing in console nicer than the print function. It is not perfect, but a good compromise.

Thank you once again!

[2021-06-24 11:27] henriquesposito opened #32 "Decrease number of false negatives with code_agreements()"
Now that we dealt (for the time being) with false positives in code_agreements(), we should try and focus on what we are still missing...

With the new changes to the function, @EstherPeev could you create a list/table of some of the false negatives we are still getting? Thank you.

[2021-06-25 14:11] EstherPeev commented on #32
@henriquesposito Here is the list of false negatives found with the new version of `code_agreements()`:

[https://app.zenhub.com/files/365543800/6b87c08d-3f5f-4ae4-95a0-0b7f7b67e6fa/download](https://app.zenhub.com/files/365543800/6b87c08d-3f5f-4ae4-95a0-0b7f7b67e6fa/download)

There are few cases that were already mentioned in the last list I have made (mostly those with an additional word like *

[2021-06-28 10:03] henriquesposito commented on #32
Thank you @EstherPeev, this is very helpful!

I saw also that you solved some of the issues with punctuation, region naming and special characters in your last push for standardise_dates(). Thank you for that.

Based on the document, I also made some changes to code_agreements(). Now, code_acronym() removes some of the differentiating words identified that are not consistent across datasets as wel

[2021-06-30 11:01] henriquesposito commented on #13
I have been playing around with this for the last couple of hours and, although I can build and delete a test package within for testing, certain document templates are imported to the testthat folder and not deleted afterwards (because of how setup_package() works with qTemplates, some portions are interactive and others are automatic).

At this point I suggest we stop trying to really test expor

[2021-06-30 12:50] jhollway commented on #13
Sounds good.

[2021-06-30 12:50] #13 closed

[2021-07-01 09:49] henriquesposito opened #33 "Decide if the new version of `standardise_dates()` will be used or dates will be dealt with in other ways"
A new version of the `standardise_dates()` function that returns character ranges for uncertain dates and deals with negative and future dates has been awaiting deployment in a separate branch for awhile now. The reason being that we needed to implement a `resolve_dates()` function first, which has been created.

Now that the packages were split and the resolve functions are in the develop branch

[2021-07-01 10:04] jhollway commented on #33
I have started working on the new date class, which I think will solve some problems, and create new required changes.

[2021-07-01 10:22] EstherPeev commented on #32
So it seems that there are very few false negatives left as you can see @henriquesposito from the list below:

[https://app.zenhub.com/files/365543800/33949710-8d35-4433-9ebe-9124cb74cd49/download](https://app.zenhub.com/files/365543800/33949710-8d35-4433-9ebe-9124cb74cd49/download)

There are some cases not listed here that I have directly solved through `standardise_titles()` and `code_acronym()

[2021-07-01 11:17] henriquesposito commented on #32
Thank you @EstherPeev , very helpful once again!

I fixed the issue with the year. It was not the year that was counting as a letter, but the braces. So I removed the braces from the world count in `code_parties()`.

I added field and sphere as differentiating words to be removed as these do not contain much new information and appear inconsistently across some titles/datasets.

I fixed the issue

[2021-07-01 14:25] EstherPeev commented on #32
Thanks for all of this @henriquesposito

So I have updated `code_agreements()` with minor changes according to few words or punctuations generating false negatives:

* I have deleted the words "Fisheries" (only when the title starts with it) and "Text" in `code_parties()`. The different qIDs were not only generated by `code_acronym()`, but also in the number of words added in `code_parties()`.

*

[2021-07-01 16:30] EstherPeev opened #34 "Decrease number of false positives with code_agreements()"
With the new version of `code_agreements()`, the number of false positives evolved again. I think there are few of them on which we can work on to reduce their number. Here is a list of them:

[https://app.zenhub.com/files/365543800/76306408-341e-4ffb-acbd-fae2460501d6/download](https://app.zenhub.com/files/365543800/76306408-341e-4ffb-acbd-fae2460501d6/download)

Most of them are linked to `code_

[2021-07-02 07:24] henriquesposito commented on #34
Thank you @EstherPeev for identifying the issues and pointing at possible solutions!

[2021-07-02 09:30] henriquesposito commented on #32
Thank you @EstherPeev . Let's leave this one as is, these are not technically the same region and we should not delete an important word a East to generate acronym.

However this could serve as a reference for when we write methods for "consolidating" non-matching qIDs. For example, if year is the same and at least 4 digits are the same, maybe we look to see if titles are very similar and, if so,

[2021-07-02 12:41] EstherPeev commented on #34
There are few false positives left with the new version of the function, thanks to the changes you made @henriquesposito. Here is the list of those remaining:

[https://app.zenhub.com/files/365543800/56b0d46b-b933-4061-894d-c4ad6bbb489c/download](https://app.zenhub.com/files/365543800/56b0d46b-b933-4061-894d-c4ad6bbb489c/download)

Some are only one word difference. I think a part of them could be

[2021-07-06 09:06] henriquesposito opened #35 "Create code_activity() function"
The issues with false duplicates being assigned to bilateral treaties continues. Now, instead of code_actions() and counting the number of words in title, let's try to create an acronym for the treaty activity.

[2021-07-06 09:08] henriquesposito commented on #34
Thank you @EstherPeev ! The main issue here was addressed, which was the bug with linkages returning for treaties types that are not agreements.

For the issue of false positives for bilateral treaties, a new approach will be tried with coding the activity of the treaties with the code_activities() function.

[2021-07-06 11:23] henriquesposito commented on #35
For testing and simplifications purposes, I updated the code_parties() function so that it returns the acronym of the three last words from bilateral treaties' titles alongside parties coded. There are some adjustments left to do, but it is functioning. As far as I can tell, this appear to solve the issue of false positives for bilateral treaties. I removed counting words from title and code_actio

[2021-07-06 15:25] EstherPeev commented on #35
Thanks for setting this up @henriquesposito.

So after comparison of the number and type of false positives from this version of `code_agreements()` to the former one (with the counting of words and the action), it seems that it does not really decrease the number of false positives for bilateral. However, one positive aspect of this new version is that it really simplifies the qID for bilateral.

[2021-07-07 06:51] henriquesposito commented on #35
Thank you @EstherPeev , this is super helpful!

I will setup code_activity() as a separate function and implement some of your suggestions as removing the states names before abbreviating last words. As well, I will start to add some specific words to be ignored as alongside months and cities. We can go from there and see what else we can do.

[2021-07-07 09:53] henriquesposito commented on #35
code_activity() has been added and re-worked as a separate function. It still need some adjustments but the main function is setup. Adding the function entailed that the countryregex data was copied from qStates and integrated into qCreate. This was done to simplify the extraction of state labels/regex and avoid bugs and unnecessary redundancy. This also means that code_parties() was altered so th

[2021-07-07 13:03] EstherPeev commented on #35
Here is the list of the false positives left with the new version of the function:

[https://app.zenhub.com/files/365543800/e06720af-4e4f-4c95-b06f-543e5c38ced4/download](https://app.zenhub.com/files/365543800/e06720af-4e4f-4c95-b06f-543e5c38ced4/download)

Majority of them could be fixed by adding some words to be ignored in the code_activity() function.

[2021-07-07 15:19] EstherPeev commented on #35
I made few changes to `code_agreements()` to solve some of the issues of false positives mentioned in the list above. Some of them were related to the type of agreement not correctly detected (like "Extension of the Agreement...." or "Agreement extending...").
I have also added some words in `code_activity()` but to avoid all of the issues cited above, it would require a much longer list of words

[2021-07-08 08:43] henriquesposito opened #36 "Fix website deployment issues with qCreate"
The qCreate pkgdown page is not currently working. It appears it is not properly being deployed and, thus, the link does not appear on the GitHub page for the package.

[2021-07-08 11:54] #33 closed

[2021-07-09 10:09] EstherPeev opened #37 "Decrease false negatives with new version of code_agreements()"
With the changes made to `code_agreements()`, and more specifically `code_activity()`, the number of false negatives slightly increased but can be easily fixed through minor changes to the helper functions.

[https://app.zenhub.com/files/365543800/daa19190-8bb9-456f-bcbe-9661d35a51c4/download](https://app.zenhub.com/files/365543800/daa19190-8bb9-456f-bcbe-9661d35a51c4/download)

[2021-07-09 15:15] EstherPeev commented on #37
The issues showed in the last list were mainly related to `code_acronym()`, `code_activity()` and `order_agreements()`. I have adapted the text cleaning part of the functions so it extracts the correct letters and numbers.

For `code_activity()`, the words "environmental" and "fisheries" have been deleted from the list of words the function should ignore, even though it creates some false negative

[2021-07-13 07:31] EstherPeev commented on #36
So I checked and the qCreate website is building correctly locally. It might be a problem in the settings of the repo page on Github but I don't have access to it. Do you have any other idea @henriquesposito of where it could come from?

[2021-07-13 08:05] #5 closed

[2021-07-13 08:10] #36 closed

[2021-07-13 08:16] jhollway commented on #8
Putting a pin in this as current approach is different

[2021-07-13 08:16] #8 closed

[2021-07-13 08:16] jhollway commented on #3
Putting a pin in this as current approach is different

[2021-07-15 08:21] henriquesposito opened #39 "Make `standardise_dates()` a wrapper function for `as_messydate()`"
Alter tests and descriptions to reflect changes.

[2021-07-15 08:39] jhollway commented on #39
@EstherPeev noted that there may be some utility in having `standardise_dates()` also wrap some other functions, like `make_messydates()` when needed, or `lubridate::mdy()`

[2021-07-16 13:25] EstherPeev opened #40 "Create helper function in `standardise_titles()` where specific words (e.g. "Land-Based", "Test-Ban") or regions' name are standardised"

[2021-07-16 14:16] #4 closed

[2021-07-16 14:16] #6 closed

[2021-07-16 14:16] #24 closed

[2021-07-16 14:16] #25 closed

[2021-07-16 14:16] #27 closed

[2021-07-16 14:16] #29 closed

[2021-07-16 14:16] #35 closed

[2021-07-16 14:16] #39 closed

[2021-07-16 14:16] #31 closed

[2021-07-16 14:29] #32 closed

[2021-07-16 14:30] #34 closed

[2021-07-16 14:30] #30 closed

[2021-07-16 14:30] #37 closed

[2021-07-16 14:30] #26 closed

[2021-07-20 09:22] EstherPeev opened #41 "Add and update test templates for export_data()"
With new datasets/databases created in qEnviron or qHealth (e.g. actors), some tests need to be adjusted or created.

[2021-07-23 08:32] henriquesposito opened #42 "Issue with export_data() for datasets without bibliography file"
export_data() throws an error when we try for export datasets to a database that do not have a bibliography file ? The issue is that most datasets do not come with .bib file when imported and exported in qPackages.

For the datasets added to qData, for example, we had to add an extra bib file manually in the correct path for the function to work. However, this will create issues for users who will

[2021-07-23 15:48] jhollway commented on #42
Can't this just be made conditional?

[2021-07-23 16:01] BBieri commented on #42
I'll have a closer look at it on Monday morning and will try to make the error more explicit. Thanks for the feedback @henriquesposito !

I made this mandatory since `data_source()` relies on this source attribute being attached to the dataset. Moreover, it will shift the burden to the coder of inputting a bibliography and contacting the dataset's owner for permission if one is not readily availab

[2021-07-23 16:35] henriquesposito commented on #42
Thank you @BBieri for the explanations. These are good points, but if these are expectations for users/developers these need to be documented in preparation script (i.e. before running export_data(), please add a .bib file to this specific folder...) and the function should return an informative warning to help users/developers know what is causing the issue.

I also agree that sources are importa

[2021-07-23 17:07] BBieri commented on #42
Great, sounds good @henriquesposito! I'll modify the templates accordingly and will check back in with you on Monday to see if things are clearer that way. I'll also make sure to expand the Develop vignette with a template and some advice on how to write a `.bib` entry.

[2021-07-26 08:47] #7 closed

[2021-07-26 09:02] jhollway commented on #23
E.g. Document type > subject, so two agreements can have the same subject but one is a convention and another is a protocol and so are considered separate...

[2021-07-26 09:05] jhollway commented on #23
E.g. year > day, so two agreements with the same year but a different day, especially if one is generic (-01-01) or swapped (-02-03 vs -03-02), then candidates for similarity...

[2021-07-26 09:07] #10 closed

[2021-07-28 13:40] EstherPeev opened #43 "Update templates for database documentation generated by export_data()"
Replace qData by qCreate

[2021-07-29 08:57] EstherPeev commented on #23
@jhollway I have prepared more examples on how code_agreements() should weight identifying information. Please let me know if anything is unclear.

![image.png](https://images.zenhubusercontent.com/5ff2de14fb5a58fc49c60af6/41e1ce40-2fee-4e72-b26d-92cbb4ce598f)

[2021-07-29 10:04] henriquesposito commented on #43
For documentation for databases, please replace qData/qCreate by the new qPackage name.

For some of the calls for package functions in scripts (i.e. preparation) need be updated as well.

There is also a reference to qData in the pushrelease file that needs to be changed to the qPackage name if possible.

Thank you!

[2021-07-30 11:11] EstherPeev commented on #43
So I have added one argument to `export_data()`, which allows to generate the database documentation file named by the name of the qPackage.

`export_data()` should be run as follows:

[code]

I have also changed the dataset script preparation by replacing qData by qCreate

[2021-08-24 13:48] jhollway commented on #23
So how are these orderings transitive? E.g. rule #3 is year > acronym but rule #7 is acronym > year? Can you or @henriquesposito maybe construct this as a flowchart?

[2021-08-25 08:22] BBieri opened #44 "Add argument to import codebook alongside data to `import_data()`"
Add argument to import codebook alongside data to `import_data()` called `codebook` or `codebook_path`.

[2021-08-25 08:49] BBieri opened #45 "Add import option for text delimited files to `import_data()`"
Add import option for text delimited files to `import_data()`

[2021-08-25 09:30] EstherPeev commented on #23
So here is the flowchart on which identifying information weight more than others with a small explanatory notes.

![Capture d’écran 2021-08-25 à 11.24.16.png](https://images.zenhubusercontent.com/5ff2de14fb5a58fc49c60af6/1ba6be0b-aa9e-48c4-aadf-23a45b46b039)

@jhollway Is it better in that way?

[2021-08-31 08:48] BBieri commented on #16
## Original codebook
- Create function `open_codebook()` that opens the `.pdf` in data-raw on GitHub

## Exported dataset codebook

[2021-08-31 09:14] jhollway commented on #11
Can we add the following to qPackages' database help pages, such as [here](https://github.com/kjhealy/covdata/blob/main/R/data.R)?

[code]

[2021-08-31 09:19] jhollway commented on #19
Scrape google news, e.g. [here](https://news.google.com/search?q=treaty&hl=en-US&gl=US&ceid=US:en), using `rvest` or similar: https://www.r-bloggers.com/2018/08/scraping-google-news-with-rvest/

[2021-08-31 09:32] jhollway commented on #18
`{pdftools}`, `{tesseract}`, or both?

- https://www.r-bloggers.com/2016/08/extracting-content-from-pdf-files/
- https://www.r-bloggers.com/2019/03/get-text-from-pdfs-or-images-using-ocr-a-tutorial-with-tesseract-and-magick/
- https://www.r-bloggers.com/2017/07/how-to-do-optical-character-recognition-ocr-of-non-english-documents-in-r-using-tesseract/

[2021-08-31 13:30] #12 closed

[2021-08-31 13:30] #15 closed

[2021-08-31 14:01] henriquesposito opened #47 "Add a function to structure texts"
Create a function to structure texts as lists of lists

[2021-08-31 14:20] henriquesposito commented on #23
I will start on a code_similar() function that checks for similar qIDs internally.

[2021-08-31 15:09] BBieri opened #48 "Fix export_data() by making it automatically detect the package name when exporting data"
By changing the data preparation template.

[2021-08-31 15:18] BBieri opened #49 "Consider classification algorithm for treaty titles"
Make a pairwise matching algorithm.

[2021-08-31 15:33] henriquesposito opened #50 "Create a code_similar() function that checks for similar qIDs internally"
Follows the weighted information from different qID portions

[2021-09-23 08:53] henriquesposito opened #51 "Use treaty text to identify which termination clause type the treaty has in `code_ground()`"

[2021-09-23 09:33] henriquesposito opened #52 "Decide what to do with the `interleave()` function"
Since `resequence()` was moved to messydates, interleave is now is a function in qCreate and a helper function in messydates (since it is called by resequence() and because messydates is on CRAN it cannot/should not have GitHub dependencies).

A couple of options:

1. Once a new version of messydates  is live we could, for example, export `interleave()` there and either call the function in qCreat

[2021-09-23 13:46] jhollway commented on #52
Hmm, I wonder whether it might be more efficient to have it be in qData (when it is on CRAN) and then used by both?

[2021-09-27 11:50] henriquesposito opened #53 "Re-think script structure for `code_agreements()` and other similar functions"
Several exported function called by `code_agreements()` are on the same script (e.g. `code_parties()`). Other similar functions not called by  `code_agreements()` are in separate scripts, as  `code_term()` and `code_grounds()`. Should we maintain the format/style or change?

[2021-09-27 11:55] jhollway commented on #53
Ok, makes sense. I just thought code_parties could also be called by developers?

[2021-09-27 15:20] #40 closed

[2021-09-27 15:20] #41 closed

[2021-09-27 15:20] #42 closed

[2021-09-27 15:20] #43 closed

[2021-09-27 15:20] #44 closed

[2021-09-27 15:20] #45 closed

[2021-09-27 15:20] #50 closed

[2021-09-29 10:58] henriquesposito opened #55 "Update push release workflow template to download qData and README to run related code chunks"
To avoid merge issues with GitHub, qData download from GitHub has been commented out in push release templates and code chunks that refer to qData are not run in README files. Once qData is on CRAN, this should no longer pose any issues and the files can be restored to work with qData

[2021-09-30 08:15] henriquesposito commented on #47
See also corpus::text_split() function. Not exactly what we are looking for, but it can be helpful.

[2021-10-04 09:46] henriquesposito opened #57 "Update `code_agreements()` and `condense_qID()` to run more efficiently"
Some tools as profiling might help to make the functions more concise and faster.

[2021-10-13 08:42] jhollway opened #58 "Rename package, and all templates"

[2021-10-15 11:26] henriquesposito commented on #47
I have started to work on this issue to generate structured lists for the treaty texts we have in qEnvrion (and more broadly). A first working version was added in qCreate. @EstherPeev could you try and test it on a broader sample from qEnviron::texts and let me know what works, and not, and what should be improved? Thank you.

[2021-10-19 16:02] henriquesposito commented on #17
Thank you for the feedback, I will take a look at this issue tomorrow!

[2021-11-15 11:48] henriquesposito commented on #17
There is still as issue with the NULL returns from that appear connected to the Google translate (and API keys)...

This appears to be an issue for the current version of standardise_titles() on the main branch of qCreate as well, which was working and was used to standardize titles in qEnviron.

@EstherPeev could you try, if you have time today, to use/modify standadise_titles() with a microsoft

[2021-11-16 11:04] henriquesposito opened #59 "How to code area and activity for treaty lineages?"
If lineages are a combination of activity and area, what is an area and what is an activity?

Areas need be not too small that they not become redundant (i.e. country) and not too big they not become too broad (i.e. continent). Then, which (sub)regions should we include?

The same is true for activity. For dealing with a broad range of treaties across several domains we might need to code activiti

[2021-11-16 11:06] henriquesposito commented on #59
Duplicated issue, will close and keep qEnviron issue 43

[2021-11-16 11:06] #59 closed

[2021-11-17 08:35] henriquesposito commented on #58
This is done for qCreate, we just now need to change the package name on GitHub for the next PR.

[2021-11-17 09:38] henriquesposito commented on #22
These issues have mostly been solved since, I think. I will close this issue.

[2021-11-17 09:38] #22 closed

[2021-11-22 09:53] #23 closed

[2021-11-23 12:55] EstherPeev opened #61 "Change references to qIDs"
Now that manypkgs has been renamed, references to qIDs are still present in the package in the functions `condence_qID()` and `code_agreements()`, and in the cheatsheet. However, this would need to be changed in order to be aligned with the rest of the package. One solution could be to apply different ID names according to the object type.

**For example**
* Agreements could have a "treaty_ID" ins

[2021-11-23 14:47] #9 closed

[2021-11-23 14:47] #47 closed

[2021-11-23 14:47] #48 closed

[2021-11-23 14:47] #57 closed

[2021-11-23 14:47] #58 closed

[2021-11-29 09:21] henriquesposito opened #63 "Check on package names consistency"
There are package names that have been changed after the latest PR in manypkgs (i.e. manyenviron). These are not dependencies but appear somewhere in the preparation scripts, README, and so on. Could you please make sure all package names are up to date in the developing branch of the package?

- There are several examples for functions which I think names need be changed from qEnviron to manyenvi

[2021-12-06 10:09] henriquesposito opened #64 "Find and extract termination, grounds and membership clauses/articles from agreement texts"

[2021-12-06 13:14] EstherPeev opened #65 "Develop further categories used for code_actions()"

[2021-12-08 09:23] henriquesposito opened #66 "Fix bugs with `lingua()` function"
The functions relies on `translater::translate()` to translate texts but the translations is returned as NULL. This could be an issue with Google API or the `translater::translate()` function. A previous version of this function used to work well when used within `standardise_titles()`, but that also stopped working once we started having these issues.

[2021-12-10 08:48] henriquesposito commented on #66
@BBieri could you please try and take a look at this issue as well if you have a bit of time? Thank you!

[2021-12-10 09:21] BBieri commented on #66
Sure thing! Will get on it on Monday.

[2021-12-13 09:40] henriquesposito opened #67 "Reduce the number of packages imported by manypkgs, if possible"

[2021-12-15 09:49] henriquesposito commented on #67
manpkgs is not going on CRAN and this is not very important, you are right. However, we still should try and change as many packages as possible to suggests rather than imports to optimize the package, if possible. This is more of a reminder to check up on this later on.

[2021-12-20 12:46] henriquesposito opened #68 "Write tests for code_lineage() and related functions"

[2021-12-21 10:18] EstherPeev commented on #51
So I have expanded `code_grounds()` so it uses the treaty text to identify which termination clause is present in the treaty. I based my coding on this table below:

![Capture d’écran 2021-12-20 à 10.41.28.png](https://images.zenhubusercontent.com/5ff2de14fb5a58fc49c60af6/53cf1d16-140b-490e-948c-49a25cd1b60a)

The coding allows to identify which treaty contains one of the cited clause above. The

[2021-12-21 19:53] jhollway commented on #51
Excellent @EstherPeev , I look forward to looking at this more closely. In the meantime, can we use the following three letter codes: SUN, SUC, DIS, SUB, REN, EXT, INC, WAR, WTH, INJ, NON, REB, JUS

[2022-01-06 10:20] EstherPeev opened #69 "Improve how split_treaty() helper function works on treaties other than agreements (e.g. declaration, exchange of notes, amendements)"
Treaties other than agreements do not have articles so the function does not split the treaty text. Therefore, some remain very long and unusable. Here are some examples:

* Declaration
http://www.ecuanex.net.ec/cpps/declarac.html

* Exchange of notes
https://iea.uoregon.edu/treaty-text/4335
https://iea.uoregon.edu/treaty-text/2637
https://iea.uoregon.edu/treaty-text/94

* Amendments
https://iea.u

[2022-01-11 16:09] henriquesposito commented on #69
There is an extra argument for identifying treaty type now and, if specified, returns only those treaties. It still needs some upgrades for the dictionary to identify types, but works well for thetime being!

[2022-01-19 11:50] henriquesposito opened #70 "Review the dictionary for coding actions for treaties"

[2022-01-20 12:57] henriquesposito commented on #67
I have moved as many packages possible to suggested and also removed any unnecessary packages in imports and suggests sections.

[2022-01-20 12:57] #67 closed

[2022-01-21 14:58] henriquesposito commented on #53
Multiple functions called by another larger functon are in the same scripts, even if these smaller functions are exported (e.g. code_agreements script and code_lineage script). Otherwise too many scripts will be generated for the package, in my opinion, and navigating the package functions could become confusing. Termination and membership grounds are  in separate scripts for now, although in the

[2022-01-26 02:14] jhollway commented on #52
Would it perhaps make sense to have interleave be an exported messydates function?

[2022-01-26 11:00] henriquesposito commented on #52
This is a good idea! I will get into that right away.

[2022-01-31 17:08] BBieri commented on #11
The documentation of all `{manypackages}` was updated accordingly and the templates in `{manypkgs}` were adjusted. I just opened a follow-up issue [here](https://github.com/globalgov/messydates/issues/41) to create more informative `{skimr}` outputs by creating reporting functions for the new `{messydates}` class.

[2022-02-03 10:29] EstherPeev opened #71 "Remove underscores in references to many_ID and treaty_ID to be in line with other packages"

[2022-02-18 11:57] #17 closed

[2022-02-18 11:57] #64 closed

[2022-02-18 11:57] #69 closed

[2022-02-23 09:14] henriquesposito commented on #18
@jhollway do you have any specific examples of datasets you want to incorporate that have their treaty texts in pdf formats? I will start to work on a function for OCR pdf texts. Thank you.

[2022-02-23 21:14] jhollway commented on #18
ECOLEX has PDFs.

[2022-03-07 09:08] henriquesposito opened #73 "Extend some of the matching and metadata annotation for treaty texts"
see below for references: https://www.r-bloggers.com/2021/06/segmenter-a-small-tool-to-segment-a-scientific-article/

[2022-03-21 23:29] jhollway opened #74 "Logo too small"
See [here](https://jameshollway.com) and [here](https://globalgov.github.io/manypkgs/)

[2022-03-30 07:55] #70 closed

[2022-03-30 07:55] #63 closed

[2022-04-04 16:05] jaeltan opened #75 "Possible data size issue with code_memberships()"
`code_memberships()` and `get_articles()` run into errors (C stack usage too close to the limit) when used on manytrade AGR_TXT texts data, which might be due to large data size

[2022-04-06 14:22] henriquesposito commented on #75
The issue here is with the get_article() function which takes too much memory (above the limit at times) when running on large text databases. I am currently re-working get_articles() to make it less recursive and more efficient. Thank you.

[2022-04-07 01:53] jhollway commented on #55
`{manydata}` is now on CRAN. Can we close this issue?

[2022-04-07 08:21] henriquesposito commented on #55
I have now updated all many package description files to download manydata and the README files to run manydata related code chunks. These changes have also been made in the templates for new many packages.

[2022-04-07 13:05] henriquesposito commented on #75
I have been re-working the function in the past couple of days, and I think the memory issue has been fixed by altering how the function works. However, I still need to get the function returns as expected.

[2022-04-08 08:02] henriquesposito commented on #75
The get_articles() function is fixed, I just tested in manytrade and all works on my side.

[2022-04-08 08:08] henriquesposito opened #76 "Improve code_memberships() and code_termination() functions"
These functions work, but it seems that thy miss some of the clauses within agreements that discuss these. To improve these functions we need to rework how these clauses are coded within the function, as well as we might need to improve the dictionary matching for get_articles(), the entity recognition from code_entity(), and the domain coding from code_domains().

[2022-04-12 15:13] BBieri opened #77 "Make standardise_dates safer"
When running preparation scripts, we sometimes run into wrongly coded data, among which can be dates. An example of this can be found in the ARCHIGOS gnevar dataset where I corrected the birthdate for Didier Burkhalter from `1960-04-1970` to the actual value of `1960-04-17`.

Identifying these wrongly coded variables will be key for future contributors. Hence, we could implement a warning whenever

[2022-04-12 15:29] BBieri opened #78 "Define a consistent way of dealing with coding errors across many universe packages"
Following a chat with @henriquesposito, we realized that there are different approaches across many-packages when dealing with coding errors. `{manyenviron}` deals with these in the preparation scripts while `{manystates}` corrects them in a separate "gnevar" script (e.g. Archigos and ArchigosGnevar).

We should think about standardizing these approaches across data packages to avoid going in diff

[2022-04-12 23:18] jhollway commented on #77
Sure, 'strange' dates can be reported, though corrections should be either requested from the original data provider or added to some new dataset, e.g. `gnevar`

[2022-04-13 10:36] henriquesposito commented on #78
Thank you for raising this issue @BBieri ! And thank you @jhollway for the clarification.

Then, I think we do need to standardise how this is done across data packages since some corrections are done in some preparation scripts in `{manyenviron}` and `{manytrade}`. For example, there are some "weird" duplicates (code errors) that are removed for some datasets in these packages. As well, as it sta

[2022-04-13 22:43] jhollway commented on #78
Perhaps having e.g. `standardise_dates()` return an NA if there's a particularly ambiguous date means that it's still `consolidate()` compatible, and the `gnevar`/correctly coded version will still take precedence upon consolidation?

[2022-04-26 08:15] jaeltan opened #79 "Add function to extract dates in words and convert them to messydate format"
Many treaties have their dates of signature written in words (eg. two thousand and nine, May twenty-sixth) instead of YYYY-MM-DD format or other numerical formats. Need to extract these dates and convert them into messydt format to incorporate into datasets.

[2022-04-26 10:16] henriquesposito commented on #79
I had a function in '{poldis}` that extract dates from texts. I moved the function to manypkgs for now, since I think I will be removing the function from poldis in the future in any case. I have added a first version of the function to the text_tools script in manypkgs. @jaeltan could you please double check if it works for you and make any necessary changes/improvements? Could you also please ad

[2022-04-28 23:09] jhollway commented on #79
Yes, `{messydates}` may be a good home for it.

[2022-05-17 07:00] BBieri commented on #77
Thanks @henriquesposito, will take a look at it today!

[2022-05-17 08:59] henriquesposito commented on #77
Thank you @BBieri ! Also, now that I am thinking about this, it may be redundant to keep this wrapper function in manypkgs as we could simply use messydates. What do you think?

[2022-05-17 10:35] BBieri commented on #77
Agreed! `standardise_dates()` is being simply a wrapper does not bring anything to the table in terms of functionality. The only thing I am worried about is the dependency management of the data packages. Since some of them have functions that scrape and format data from e.g. `{cshapes}`, they will gain one additional dependency when we do the switch.

What do you think @henriquesposito ?

[2022-05-17 12:06] BBieri commented on #77
Thanks for the input! That works, I'll push the changes shortly.

[2022-05-17 15:03] BBieri opened #80 "translateR dependency has been archived"
[translateR](https://CRAN.R-project.org/package=translateR) has been archived a couple of days ago by CRAN. We might need to find an alternative solution if the original maintainer no longer maintains it.

[2022-05-17 15:21] BBieri opened #81 "openNLPmodels.en is no longer directly available from source"
An external dependency of the `{entity}` package, `{openNLPmodels.en}` is no longer available for direct installation from CRAN or from [source](http://datacube.wu.ac.at) and needs to be installed from [its GitHub repository](https://github.com/cran/openNLPmodels.en). While this is not an immediate issue for `{manypkgs}` it might be confusing for first-time contributors.

*Edit*: the version on Gi

[2022-05-18 07:42] henriquesposito commented on #81
Thank you @BBieri for the great catch! If I am not mistaken, open nlp was removed from CRAN a while ago and their GitNub repo has long been inactive...

For integrating the models, as I see, we have three choices. We can just change the data download link to the correct web library in the function (https://opennlp.apache.org/models.html). We can use alternative GitHub based repositories/packages a

[2022-05-19 00:51] jhollway commented on #80
It has been archived because emails to the maintainer were undeliverable. The last time `{translateR}` was released (v1.0) was 2014-07-09. Perhaps it is safer just to back-engineer what we need from this function, recognising where we got the code from, and this should make the package less dependency-reliant.

[2022-05-19 08:59] henriquesposito commented on #81
Actually, I just re-tested the link and the opennlp data/model is available again! Please double check but I think it might have been an issue with the datacube repository (https://datacube.wu.ac.at/src/contrib/).

[2022-05-23 15:39] henriquesposito opened #82 "translateR package removed from CRAN"
Used for translations within `stardadise_titles()`. There are several other available functions/package replacements, but should we continue to offer this functionality?

[2022-05-24 09:59] henriquesposito commented on #82
duplicate of #80

[2022-05-24 10:02] henriquesposito commented on #80
There are several other available functions/package replacements (see googleLanguageR and deeplr). However, I wonder if we should continue to offer this functionality at all since it adds several package dependencies, require users to add an API, and I am not sure many users will actually use it... What do you think @BBieri and @jhollway?

[2022-05-24 12:25] BBieri commented on #16
Closed in favor of [this issue](https://github.com/globalgov/manydata/issues/134).

[2022-05-24 13:10] BBieri commented on #80
Thanks for your comments @jhollway and @henriquesposito.

- Regarding @jhollway 's comment:

- Regarding @henriquesposito 's comment:

Taking this into account, I would let the contributors deal with the automatic translation in their respective data preparation scripts. What do you think?

[2022-05-24 23:09] jhollway commented on #80
It looks like a "Pro" `{deeplr}` account is not required -- there is a "Free" version, which however is limited to 500000 characters/month.

[2022-05-25 13:31] henriquesposito commented on #80
I updated the `standardise_titles()` function to use the Deepl translation platform. The function now works with the authentication key from the website, there is indeed a free version there. It is also much more intuitive/easier to use than generating google API keys. This has, however. made the `lingua()` function redundant, since we do not need to specify, or find, which language the source tex

[2022-06-07 08:14] #79 closed

[2022-06-07 08:14] #81 closed

[2022-06-13 08:57] henriquesposito opened #84 "Create a `standardise_texts()` function"
This function should improve how treaty texts are displayed in many packages. There are some markups in many of these texts, as well as articles not separated and punctuation not respected. This function should help integrate/facilitate for users to get_articles and for termination and accenssion clauses to be gathered.

[2022-06-13 12:18] henriquesposito commented on #84
A first version of this was implemented in `{manypkgs}`. Now it needs be tested and improved.

[2022-06-22 08:59] jaeltan commented on #76
`code_memberships()` now `code_accession_terms()`

[2022-07-12 09:37] henriquesposito opened #85 "Add guidelines for writing markdown/roxygen documents in contributing file"
Somewhere can we also add guidelines for how to write passages of text in markdown/roxygen such that line diffs such as in git are most useful? That is, text should be written such that sentences, and sometimes clauses of a sentence, start on a new line. They should also not be over ?? characters, but this can be enforced via hard wrapping.

[2022-07-12 10:03] henriquesposito opened #86 "Create a vignette for working with texts"
Some of the new functions, as to code memberships and termination as well as standardise texts, would benefit from a vignette. This can also be one way to adress how to write and use `code_*` functions for coding rules/institutional design in agreements using the toolkit in manypkgs and things to watch out for (eg. line-matching) that was discussed in the annual review.

[2022-07-21 13:44] #55 closed

[2022-07-21 13:44] #74 closed

[2022-07-21 13:44] #78 closed

[2022-07-21 13:44] #18 closed

[2022-07-21 13:44] #75 closed

[2022-07-21 13:44] #85 closed

[2022-07-21 13:44] #76 closed

[2022-07-21 13:44] #77 closed

[2022-07-21 13:44] #80 closed

[2022-07-21 13:44] #84 closed

[2022-07-29 08:26] henriquesposito commented on #86
I added a first draft of the vignette in manypkgs, it still needs work though...

[2022-09-06 08:00] jaeltan commented on #86
Putting this on hold since we're transiting from the GNEVAR datasets to HUGGO and AIGGO and changing our approach to analysis of the treaty texts

[2022-10-14 09:40] henriquesposito opened #87 "Update preparation tremplate"
Preparation template for datasets might needs some updating for new changes with HUGGO and AIGGO.

As well as some new expectations about missing values, among other things.

[2022-11-03 12:44] AndersIHEID opened #88 "Issue export_data() function related to bibtex dependency"
Here is the error:

 manypkgs::export_data(HUGGO, database = "agreements",
+                       URL = c("https://wits.worldbank.org/gptad/library.aspx",
+                               "http://rtais.wto.org/UI/PublicMaintainRTAHome.aspx",
+                               "https://edit.wti.org/app.php/document/investment-treaty/search",
+                               "https://github.com/mappingt

[2022-11-14 08:54] #88 closed

[2022-11-14 08:54] henriquesposito commented on #88
This was a local issue. We can update the function later on if needed.

[2022-11-17 12:49] jaeltan opened #89 "Duplicate manyIDs"
Some agreements in manyenviron and manytrade have duplicate manyIDs for different agreements that have different titles.

[2022-11-17 16:19] delmoralsu commented on #89
manyenviron
**Different treaties:**
HUGGO[3568, ] manyID = BRA-CRI_2008P **/** Title = Complementary Agreement To The Technical Cooperation Agreement Between The Government Of The Federative Republic Of Brazil And The Government Of The Republic Of Costa Rica For Implementation Of The Project Management And Conservation Of Power Plants **/** Beg = 2008-07-30

HUGGO[3569, ] manyID = BRA-CRI_2008P **

[2022-11-21 09:23] henriquesposito commented on #89
Thank you @AndersIHEID @delmoralsu ! Please keep on adding the false duplicate manyIDs as they show up!

@jaeltan it appears that the duplication issue occurs mostly for bilateral agreements... I am not sure just yet how to proceed, but I know we have certain unctions to code issue-domain and actions from agreement titles that could be added in these cases. Please let me know of you have any ideas

[2022-11-21 10:21] jaeltan opened #90 "Condense and refactor code_states()"
Helper functions for `code_states()` have some duplicate functionality that could be removed

[2022-11-28 14:11] jaeltan opened #91 "Better standardise treaty titles"
Add matches to EC and EFTA in countryregex and improve `standardise_titles()` so that states' names in treaty titles are standardised and matched consistently to reduce errors in manyID generation

[2022-11-28 14:14] jaeltan commented on #89
Resolving differences in manyID for the same treaties:
* Standardise states' names in treaty titles with `manypkgs::standardise_titles()`
* recode manyIDs in manyenviron HUGGO dataset so that bilateral treaties have activity coded

[2022-11-29 08:53] henriquesposito commented on #91
Maybe we should create a function that standardises titles, and updates treatyIDs, manyIDs at the database level, to avoid we run into all the issues we have so far. that would also make easier to keep all datasets in database consistent.

@jaeltan what do you think?

[2022-11-29 09:38] henriquesposito commented on #91
We could also implement this at the export data level? So anytime a new dataset in added to database, we verify if IDs and titles are up to date and, if not, we update them in each dataset.

[2022-11-29 10:06] jaeltan commented on #91
I think implementing it at the export_data step is a good idea. So if we add this step into `export_data` we can leave the treaty titles as is in the dataset and only improve how they are managed for creating the IDs in the final step?

[2022-11-30 09:02] henriquesposito opened #92 "Add update titles and IDs options to export_data()"
As datasets in databases are added at different points in time, any changes with ID structures or title standardisation will not automatically happen. This can create issues as unnecessary duplication of IDs when consolidating databases. See issue #89 and #91 for more information.